/*
 * Variables File in Scss.
 * Containing ( Colors, Font Familys, And More )
 */

$blue-light: #3498db;

$blue-dark: #2980b9;

$green-light: #2ecc71;

$green-dark: #27ae60;

$wet-light: #34495e;

$wet-dark: #2c3e50;

$red-light: #e74c3c;

$red-dark: #c0392b;

$yellow-light: #FF6F00;

$yellow-dark: #FF8F00;

$move-light: #9b59b6;

$move-dark: #8e44ad;

$teal-light: #1abc9c;

$teal-dark: #16a085;

$fb: #3b5998;

$twitter: #1da1f2;

$linkedin: #0077b5;

$ubuntu: 'Ubuntu', sans-serif;

$pt-sans: 'PT Sans', sans-serif;

$roboto: 'Roboto', sans-serif;

$padding: 10px;

$margin: 10px;
