// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Quicksand:wght@300;400&family=Roboto:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500&display=swap');


// Fonts
$main-font: 'Montserrat', sans-serif;
$second-font: 'Quicksand', sans-serif;
$third-font: 'Roboto Slab', sans-serif;

// Colors
$main-color: #2C2E43;
$main-color-l1: #512D6D;
$main-color-l2: #787A91;

$main: #01579B;

// Navabr
$navbar-color: #535c68;

// Orange
$orange: #d35400;
$orange-l1: #e67e22;
$orange-l2: #f1c40f;
$orange-l3: #f39c12;

$red: #ff7675;
$red-d: #d63031;

$green: #2ecc71;
$green-d: #27ae60;

$pink: #fd79a8;
$pink-d: #e84393;

$river: #636e72;
$darcula: #2d3436;

$blue: #74b9ff;
$blue-d: #0984e3;

$default-transition: .3s ease-in-out;

// FCB Colors
$gold-fcb: #EDBB00;
$blue-fcb: #004D98;
$pink-fcb: #A50044;
$red-fcb: #DB0030;
$yellow-fcb: #FFED02;
