// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;700&family=Rubik:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

// Colors
$main-color: #2C2E43;
$main-color-l1: #512D6D;
$main-color-l2: #787A91;

// Navabr
$navbar-color: #535c68;

// Orange
$o1: #d35400;
$o2: #e67e22;
$o3: #f1c40f;
$o4: #f39c12;

$red: #ff7675;
$red-d: #d63031;

$green: #2ecc71;
$green-d: #27ae60;

$pink: #fd79a8;
$pink-d: #e84393;

$river: #636e72;
$darcula: #2d3436;

$blue: #74b9ff;
$blue-d: #0984e3;

$main: #01579B;

$default-transition: .3s ease-in-out;

$main-font: 'Open Sans', sans-serif;
$second-font: 'Rubik', sans-serif;
$numbers-font: 'Raleway', sans-serif;
